i{
  margin-right: 10px;
}

.App {
  text-align: center;
  margin: 50px 50px 50px 50px auto;

}

.img-home{
  max-height: 30vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: block;
  flex-direction: column;
  font-size: 2vmin;
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-home > a {
  padding-right: 0.5rem;
  margin-top: 3vmin;
}



.nav-user > a {
  color: white;
  padding-right: 0.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-container{
  max-width: 50rem;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container{
  margin-top: 10px;
  margin-bottom: 20px;
}

.nav-home{
  float: left;
  display: inline-block;
  margin-left: 15px;
  min-height: 5vh;
  margin-top: 1vmin;
  vertical-align: bottom;
}

.nav-home > a{
  color: white;
  vertical-align: bottom;
}

.nav-user{
  float: right;
  margin-top: 1vmin;
}

.nav-img{
  max-height: 5vh;
  border-radius: 50px 50px;
  position: inline-block;
}

main{
  margin: 15px 50px 0px 50px;
}



.card{
  width: 20rem;
  height: 20rem;
  display: inline-block;
  margin: 0px 5px 5px 5px;
  vertical-align: top;
}

.card-img-top{
  height: 10rem;
  object-fit: cover;
}

.event-details-img{
  margin: 0px 15px 0px 15px;
  max-width: 500px;
}

.friends-container{
  margin-top: 30px;
}
.profile-img{
  height: 2rem;
  border-radius: 50px 50px;
}

.large-img{
  height: 5rem;
  padding-bottom: 10rem;
}

.home{
  margin-top: 15vh
}
