@media only screen and (max-width: 600px) {
  main{
    padding: 1vh 2vw 0vh 2vw;
    text-align: center;
    margin: 0 10vw 0 10vw auto;

  }

  .App-header {
    background-color: #282c34;
    min-height: 4vh;
    display: block;
    flex-direction: column;
    font-size: 2vmin;
    color: white;
    padding-top: .5rem;
  }

  .img-home{
    max-height: 15vh;
  }

  .event-details-img{
    width: 100%;
    object-fit: fill;
    margin-bottom: 2vh;
  }

  .nav-home{
    display: inline-block;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vmin;
  }

  .nav-img{
    max-height: 2vh;
    border-radius: 50px 50px;
    position: inline-block;
    margin-right: .5rem;
  }

  .upcoming-events-alert{
    position: sticky;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main{
    padding: 1vh 2vw 0vh 2vw;
    text-align: center;
    margin: 0 10vw 0 10vw auto;

  }

  .App-header {
    background-color: #282c34;
    min-height: 4vh;
    display: block;
    flex-direction: column;
    font-size: 2vmin;
    color: white;
    padding-top: .5rem;
  }

  .img-home{
    max-height: 15vh;
  }

  .event-details-img{
    width: 100%;
    object-fit: fill;
    margin-bottom: 2vh;
  }

  .nav-home{
    display: inline-block;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vmin;
  }

  .nav-img{
    max-height: 2vh;
    border-radius: 50px 50px;
    position: inline-block;
    margin-right: .5rem;
  }

  .upcoming-events-alert{
    position: sticky;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  main{
    margin: 50px 50px 50px 50px auto;
    text-align: center;
    padding: 3vh 8vw 0vh 8vw;
}

  .App-header {
    background-color: #282c34;
    min-height: 7vh;
    display: block;
    flex-direction: column;
    font-size: 2vmin;
    color: white;
    padding-top: .5rem;
  }

  .home{
    margin-top: 15vh;
  }

  .event-details-img{
    max-width: 100%;
  }

  .img-home{
    max-height: 30vh;
  }

  .nav-img{
    max-height: 4vh;
    border-radius: 50px 50px;
    position: inline-block;
    margin-right: 1rem;
  }

  .nav-home{
    float: left;
    display: inline-block;
    margin-left: 15px;
    min-height: 5vh;
    margin-top: 1vmin;
    vertical-align: bottom;
  }

  .upcoming-events-alert{
    position: sticky;
    margin-bottom: 5vh;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  main{
    margin: 50px 50px 50px 50px auto;
    text-align: center;
    padding: 3vh 8vw 0vh 8vw;
}

  .App-header {
    background-color: #282c34;
    min-height: 7vh;
    display: block;
    flex-direction: column;
    font-size: 2vmin;
    color: white;
    padding-top: .5rem;
  }

  .home{
    margin-top: 15vh;
  }

  .event-details-img{
    max-width: 100%;
  }

  .img-home{
    max-height: 30vh;
  }

  .nav-img{
    max-height: 4vh;
    border-radius: 50px 50px;
    position: inline-block;
    margin-right: 1rem;
  }

  .nav-home{
    float: left;
    display: inline-block;
    margin-left: 15px;
    min-height: 5vh;
    margin-top: 1vmin;
    vertical-align: bottom;
  }

  .upcoming-events-alert{
    position: sticky;
    margin-bottom: 5vh;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main{
    margin: 50px 50px 50px 50px auto;
    text-align: center;
    padding: 3vh 8vw 0vh 8vw;
}

  .App-header {
    background-color: #282c34;
    min-height: 7vh;
    display: block;
    flex-direction: column;
    font-size: 2vmin;
    color: white;
    padding-top: .5rem;
  }

  .home{
    margin-top: 15vh;
  }

  .event-details-img{
    max-width: 100%;
  }

  .img-home{
    max-height: 30vh;
  }

  .nav-img{
    max-height: 4vh;
    border-radius: 50px 50px;
    position: inline-block;
    margin-right: 1rem;
  }

  .nav-home{
    float: left;
    display: inline-block;
    margin-left: 15px;
    min-height: 5vh;
    margin-top: 1vmin;
    vertical-align: bottom;
  }

  .upcoming-events-alert{
    position: sticky;
    margin-bottom: 5vh;
  }

}

i{
  margin-right: 10px;
}

label{
text-align: left;
}

.form-group{
  align-items: flex-start;
}


.App-link {
  color: #61dafb;
}

.nav-home > a {
  padding-right: 0.5rem;
  margin-top: 3vmin;
}



.nav-user > a {
  color: white;
  padding-right: 0.5rem;
}

.form-container{
  max-width: 50vw;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 8vh;
text-align: left;
}

.container{
  margin-top: 5vh;
  margin-bottom: 8vh;
}



.nav-home > a{
  color: white;
  vertical-align: bottom;
}

.nav-user{
  float: right;
  margin-top: 1vmin;
}

.card{
  width: 20rem;
  height: 20rem;
  display: inline-block;
  margin: 0px 5px 5px 5px;
  vertical-align: top;

}

.card-img-top{
  height: 10rem;
  object-fit: cover;
}

.event-details-img{
  max-width: 500px;
}



.large-img{
  height: 5rem;
  padding-bottom: 10rem;
}



.input-group{
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
}

.input-group>select{
  margin-left: 1rem;
}

.input-group>button{
  margin-left: 1rem;
}

.add-event-button{
  margin-top: 2rem;
}

.alert-dismiss {
  position: absolute;
  right: 0px;
  margin-right: 2rem;
  background-color: inherit;
  border-width: 0px;
}

.inline-block-elemnt {
  display: inline-block;
}
